@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75,300;100,400&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); */

/* body {
  font-family: "Montserrat", sans-serif;
} */

.font-width-normal {
  font-variation-settings: 'wdth' 100;
}

.font-width-condensed {
  font-variation-settings: 'wdth' 75;
}

.font-width-expanded {
  font-variation-settings: 'wdth' 125;
}